<div class="portfolio-modal modal fade" id="aboutModal" tabindex="-1" role="dialog" aria-hidden="true">
  <div class="modal-content">
    <div class="close-modal" data-dismiss="modal">
      <div class="lr">
        <div class="rl">
        </div>
      </div>
    </div>
    <div class="container">
      <div class="row">
        <div class="col-lg-8 col-lg-offset-2">
          <div class="modal-body">
            <h2>Tiago Mulato de Carvalho</h2>
            <hr class="star-primary">

            <img style="padding-right: 10px;" src="img/tiago-mulato.jpg" class="img-responsive pull-left" alt="Tiago Mulato de Carvalho">

            <p>Formado em Edução Física pela Pontifícia Universidade
              Católica de Campinas -PUCC, Pós-graduado em Acupuntura
              pela Associação Brasileira de Acupuntura - ABA e
              Massoterapia pelo Senac Campinas, passou 1 mês em Beijing
              na China se especializando na W.F.A.S. The World
              Federation of Acupuncture - Moxibustion Societies e no
              Beijing Hospital.</p>

            <p>Sócio fundador da VidaJump – Centro de Revitalização
              Energética - sendo responsável pela coordenação e
              desenvolvimento de técnicas orientais e ocidentais
              direcionadas ao público em geral e programas específicos à
              atletas e terceira idade visando a qualidade de vida.</p>

            <p>Foi professor da FAJ - Faculdade de Jaguariúna no curso
              técnico em massoterapia, responsável pelas aulas de
              técnicas de relaxamento, auriculoterapia, reflexologia
              podal, massagem clássica e Do-in.</p>

            <p>É terapeuta voluntário no tratamento bioenergético em
              grupo de pessoas com patologias físicas e síndromes
              psicossomáticas através da imposição de mãos e
              reequilíbrio dos chakras. Desde 2013, ministra palestras
              aos voluntários voltadas à saúde através do
              autoconhecimento.</p>

            <p>Atua na área Oriental à 10 anos, praticante de Yoga e
              Meditação a 5 anos, inclui em seus tratamentos a visão
              holística do ser, entendendo que a base da saúde é o
              autoconhecimento.</p>

            <p>Há 5 anos é Educador e Diretor voluntário responsável
              pela área de Esportes da Fundação Eufraten com foco no
              desenvolvimento de atividades esportivas educacionais que
              proporcionem ao educando descobrir seu potencial, através
              da Pedagogia Heulosófica – Ciência do Autoconhecimento.</p>

            <button type="button" class="btn btn-default" data-dismiss="modal"><i class="fa fa-times"></i> Fechar</button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
