<p class="text-center"><img src="acupuntura.jpg" /></p>
<p>A acupuntura (do latim acus - agulha e punctura - punção) é uma das técnicas que compõe a Medicina Tradicional Chinesa.</p>

<p>O tratamento com acupuntura consiste basicamente em diagnóstico e aplicação de agulhas em pontos específicos do corpo, também chamados de acupontos, que ficam situados em canais energéticos chamados meridianos.</p>

<p>É fundamental compreender que a acupuntura não é exclusividade médica e pode ser aplicada por qualquer profissional com devida formação acadêmica.</p>

<p>O tratamento com acupuntura utiliza um raciocínio absolutamente estranho à medicina ocidental moderna. Tem como base os 5 elementos e a teoria Yin e Yang.</p>

<p>ALGUMAS INDICAÇÕES</p>

<ul>
  <li>Tratamento da dor pós-operatória;</li>
  <li>Náusea e vômitos da quimioterapia;</li>
  <li>Reabilitação de AVC;</li>
  <li>Dores de cabeça;</li>
  <li>Distúrbios menstruais;</li>
  <li>Inflamações em geral;</li>
  <li>Fibromialgia;</li>
  <li>Osteoartrite;</li>
  <li>Dores em geral;</li>
  <li>Asma;</li>
  <li>Alergia;</li>
  <li>Tratamento para a fertilidade;</li>
  <li>Doenças da pele;</li>
  <li>Estresse;</li>
  <li>Hipertensão;</li>
  <li>Problemas gastrointestinais;</li>
  <li>Distúrbios do sono.</li>
</ul>

<p><strong>CONTRA-INDICAÇÕES</strong></p>
<h3>Gravidez</h3>

<p>A acupuntura na gravidez é extremamente benéfica por aliviar os sintomas como edemas, dores, enjôos etc, porém, deve ser realizada com grande precaução, pois pode induzir o trabalho. Apenas o ato de agulhamento com um certo modo de manipulação em determinados pontos de acupuntura pode provocar fortes contrações uterinas e induzir o aborto.</p>

<p>Tradicionalmente, os pontos de punção na parte inferior do abdômen e na região lombossacral são contra-indicados durante o primeiro trimestre.</p>

<p>Depois do terceiro mês, os pontos na parte superior do abdómen e na região lombo-sacra e os pontos que provocam sensações fortes devem ser evitados, em conjunto com os pontos de acupuntura auricular que pode também induzir o parto.</p>

<h3>Emergências médicas</h3>

<p>A acupuntura é contra-indicada como tratamento em casos de emergência. Nesses casos, os primeiros socorros devem ser aplicados e realizado o transporte para um centro de emergência médica.</p>

<p>Doenças que necessitem intervenção cirúrgica.</p>

<p>Acupuntura não pode ser utilizada como forma de substituição de intervenção cirúrgica necessária (ex.: realização de apendicectomia para o tratamento de apendicite).</p>

<h3>Tumores malignos</h3>

<p>Tambem não deve ser utilizada para o tratamento de tumores malignos. Em particular, a inserção de agulha no local do tumor deve ser proibida. No entanto, a acupuntura pode ser usado como uma medida complementar, em combinação com outros tratamentos, para o alívio da dor ou de outros sintomas, para aliviar os efeitos secundários da quimioterapia e radioterapia, e, assim, para melhorar a qualidade de vida.</p>

<h3>Alterações da coagulação</h3>

<p>O agulhamento deve ser feito com muita cautela em pacientes com distúrbios hemorrágicos e da coagulação, ou que estejam em tratamento com anticoagulantes ou tomar drogas com um efeito anticoagulante.</p>
