<p class="text-center"><img src="auriculoterapia.jpg"/></p>
<p>A auriculoterapia faz parte de um conjunto de técnicas terapêuticas, que tem como base os preceitos da Medicina Tradicional Chinesa. É uma terapia que consiste na estimulação com agulhas, sementes de mostarda, objetos metálicos ou magnéticos em pontos específicos da orelha para diversos fins terapeuticos.</p>

<p>Além disso, a auriculoterapia ajuda a diagnosticar e a prevenir algumas doenças através da observação dos pontos específicos da orelha que se encontram alterados.</p>

<p>Nas últimas décadas, a técnica vem se difundindo por todo o mundo em função da crescente aceitabilidade pelas comunidades científicas, após estudos que vem sendo realizados sob uma perspectiva ocidental, com métodos de investigação modernos.</p>

<p><strong>ALGUMAS INDICAÇÕES</strong></p>
<p>A auriculoterapia é indicada no tratamento de:</p>
<ul>
  <li>Dores por torções, contraturas ou distensões musculares, por exemplo;</li>
  <li>Problemas reumáticos, respiratórios, cardíacos, urinários, digestivos, hormonais, como obesidade, anorexia ou doenças da tireoide, por exemplo, e psicológicos, como ansiedade ou depressão.</li>
</ul>

<p>Além disso, a auriculoterapia também pode ser utilizada para tratar a hipertensão, vertigens ou palpitações, por exemplo.</p>

<p><strong>CONTRA-INDICAÇÕES</strong></p>
<p>Sabemos que os efeitos colaterais existem e são comuns, mas podem ser evitados, por isso a auriculoterapia possui algumas contraindicações e devem ser respeitadas:</p>
<ul>
  <li>Gestantes, até o terceiro mês de gravidez devem evitar as sessões e, após esse período, alguns pontos auriculares não devem ser utilizados até o final da gestação, pois podem promover contrações uterinas, consequentemente aborto;</li>
  <li>Pessoas com hipersensibilidade.</li>
  <li>Pessoas com graus psiquiátricos não medicados.</li>
  <li>Casos de lesões, inflamações do pavilhão auricular;</li>
  <li>Em casos de esgotamentos excessivos, jejum prolongado, caquexia, anemia, os pacientes devem ser tratados deitados e evitar estímulos muito fortes</li>
</ul>
