<p class="text-center"><img src="moxabustao.jpg"/ ></p>
<p>Proveniente da Medicina Tradicional Chinesa, a moxabustão é uma técnica que assim como a acupuntura e a ventosaterapia, utiliza os meridianos para tratamento.</p>

<p>Segundo MTC, o frio, vento, calor, secura e umidade são grandes causadores de doenças.
  O objetivo da moxabustão promover o equilíbrio, pois desobstrui os bloqueios de energia. Ao invés de agulhas, utiliza aplicações de calor nos acupontos.</p>

<p>Geralmente,  é utilizado um bastão que tem como principal matéria prima uma erva chamada de Artemísia (Artemísia Vulgaris) ou carvão. O bastão produz uma excelente fonte de calor, promovendo o efeito terapêutico.</p>

<p>O bastão é aceso e o terapeuta deixa-o aproximadamente 1 cm de distância da pele do cliente. Esta distância varia muito de acordo com a capacidade de tolerância do cliente. A aplicação não gera nenhum tipo de dor ou queimadura.</p>

<p><strong>ALGUMAS INDICAÇÕES</strong></p>

<ul>
  <li>Dores musculares</li>
  <li>Relaxamento físico e mental</li>
  <li>Estresse</li>
  <li>Ansiedade</li>
  <li>Depressão</li>
  <li>Constipação</li>
  <li>Insônia</li>
  <li>Diarreia</li>
  <li>Dores nos joelhos</li>
  <li>Asma</li>
  <li>Problemas digestivos</li>
  <li>Dores nas costas</li>
  <li>Resfriado</li>
  <li>Sinusite</li>
  <li>Problemas menstrual</li>
</ul>

<p><strong>CONTRA INDICAÇÕES</strong></p>

<ul>
  <li>Pessoas com febre</li>
  <li>Pessoas alcoolizadas</li>
  <li>Pessoas com queimaduras</li>
  <li>Pessoas com feridas abertas ou traumas recentes</li>
  <li>Mulheres grávidas</li>
</ul>
