<p class="text-center"><img src="ventosaterapia.jpg" />
<p>A ventosa faz parte do conjunto de técnicas que compõem a MTC.
  Segundo a MTC, a ventosaterapia tem a propriedade de limpar o sangue das toxinas acumuladas no organismo produzida pelos alimentos e outras fontes poluentes. O sangue estagnado, escuro e sujo, nos músculos das costas ou das articulações é considerado pelas MTC como um dos elementos causadores de doenças.</p>

<p>É usada para o alívio de dores musculares, melhorar o sistema circulatório e até mesmo, para redução de celulite e gordura localizada, lombalgias, dor abdominal, hipertensão arterial e muitas outras patologias.
  Podem ser utilizadas em associação com outras terapias reforçando a efetividade destas.</p>

<p>
  Pode-se utilizar a ventosa para produzir o “efeito massagem”. Esta massagem tem o efeito de remover a pele ressacada pela abertura dos poros e pela transpiração. Tem o efeito de aumentar o fluxo da linfa, reduzindo o edema, mantém a flexibilidade dos músculos, retirar as adesões e as fibroses e mobilizar o funcionamento dos órgãos, descongestionar os bloqueios de energia, ativar a circulação e o funcionamento geral do corpo.</p>

<p>Esta é uma técnica contra indicada em casos de febre alta, convulsões ou cólicas, alergias na pele ou inflamações ulceradas, áreas onde o músculo é fino ou a pele não é plana por causa dos ângulos e depressões ósseas, no abdómen e região lombar em gestantes. Algumas outras considerações a ter no uso das ventosas é que estas devem ser deixadas no local somente até haver congestão local (geralmente 5 a 15 minutos).</p>

<p>A aplicação das ventosas deixa frequentemente uma marca púrpura na pele aonde esta foi sugada, isto é normal e vai desaparecer sem tratamento especial. Se a marca for muito profunda, as ventosas não devem ser colocadas de novo nesse local enquanto subsistir a marca.</p>
