<!DOCTYPE html>
<html lang="{{ with .Site.LanguageCode }}{{ . }}{{ else }}en-US{{ end }}">
  <head>
    {{ partial "head.html" . }}
  </head>
  <body id="page-top">

    {{ partial "nav.html" . }}

    {{ partial "hero.html" . }}
    {{ partial "services.html" . }}
    {{ partial "portfolio.html" . }}

    {{ partial "aside.html" . }}
    {{ partial "about.html" . }}
    {{ partial "rss.html" . }}
    {{ partial "contact.html" . }}

    {{ partial "modals.html" . }}
    {{ partial "about-modal.html" . }}
    {{ partial "js.html" . }}
  </body>
</html>
